apiVersion: v1
kind: Service
metadata:
  name: backend-app
  namespace: app
  labels:
    app: backend-app
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8000
    targetPort: http
    protocol: TCP
  selector:
    app: backend-app
