apiVersion: v1
kind: Service
metadata:
  name: argocd-server
  namespace: argocd
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 8080
    nodePort: 32221
    protocol: TCP
  - name: https
    port: 443
    targetPort: 8080
    nodePort: 32223
    protocol: TCP

