apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: app

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - scaledobject.yaml

# Common labels
labels:
  - includeSelectors: true
    pairs:
      app: frontend-app

# Image configuration (can be overridden)
images:
  - name: frontend-app
    newName: fadihussien/unity
    newTag: frontend-1.2.1
